.welcome-note{
    font-family: fantasy;
    text-decoration: double var(--skin-color);
    background-color:none;
    text-decoration: inline;
   color:rgb(75, 52, 8);
   

}
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;500;600;700&display=swap');
/* additional code*/
body.dark {
    background-color: black;  color: white;
  }
  
  .day-nigh {
    background-color: white;
    color: black;
  }
  
  .dataset-dark {
    background-color: black;
    color: white;
  }
  .container-home{
    text-align:center;
    position:relative;
    display:-webkit-inline-flex;

  }




:root {
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;
    --skin-color: #37b182;
}
#pawan-info{
    margin:100px;
    background-color:rgb(85, 85, 85,0.05);
    box-shadow:#000000 20px;
    transition:cubic-bezier(0.075, 0.82, 0.165, 1);
    border-radius:20%;
    padding:20px;
    

}




/*.container{
    /* background-color:rgb(255,255,255)
 } */

a{
    text-decoration:underline;
}
body.dark {
    /* --bg-black-900: #151515;
    --bg-black-100: #222222;
    --bg-black-50: #393939;
    --text-black-900: #ffffff;
    --text-black-700: #e9e9e9; */
    background-color:#333333;
}


::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #7973d1;
}

::-webkit-scrollbar-thumb {
    background: #ccb7b7;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    line-height: 1.5;
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif 'Poppins';
    background-color: rgb(0, 0, 0);
}

::before {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
}

::after {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.section {
    /* background: var(--bg-black-900); */
    min-height: 100vh;
    display: block;
    padding: 0 10px;
    opacity: 1;
    position: fixed;
    left: 250px;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.3s ease;
    /* color: var(--text-black-700); */
}
.name{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font :rgb(100, 76, 165);
}

.hidden {
    display: none !important;
}

.padd-15 {
    padding-left: 5px;
    padding-right: 5px;
}

.section .container {
    padding-top: 60px;
    padding-bottom: 70px;
}




.row {
    display: flex;
    flex-wrap: wrap;
    /* margin-left: -15px;
    margin-right: 15px; */
    position: relative;
}

.btn {
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
    padding: 8px 30px;
    color: white;
    border-radius: 10px;
    display: inline-block;
    white-space: nowrap;
    background-color: rgb(146, 75, 77);
    transition: all 0.3s ease;
    border: none;
}

.btn:hover {
    transform: scale(1.5);
    background-color: hsla(96, 4%, 25%, 0.7);
}

.shadow-dark {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

/* Aside */
.aside{
    width: 250px;
    background: var(--bg-black-100);
    position: relative;
    left:0;
    top:0;
    border-right: 1px solid var(--bg-black-50);
    z-index: 10;
    transition: all 0.3s ease;
    height: 100vh;
    padding: 30px 30px;
    transition: all 0.3s ease;
    overflow: auto;
    
}
.table{
    width:100%;
    background-color:none;
    

}
.aside{
    background-color:transparent;

}
.aside .navbar-items{
    height:45px;
    padding-bottom: 20px;
    
}
.aside .navbar-items a {
    color: var(--text-black-900);
    font-size: 16px;
    font-weight: 600;
    padding:5px 15px;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);
    display:flex;
    flex-direction: col;
    column-gap: 20px;
    align-items: center;

}

.aside .navbar-items i {
    text-transform: capitalize;
    display:inline-block;
    
}
.aside .navbar-items:hover{
    background-color: var(--bg-black-50);
}

.aside .navbar-items a.active {
    color: rgb(57, 57, 150);
    font-weight: 800;
}

.aside .navbar-items a.not-active {
    color:rgb(57, 57, 150);
}

.aside .logo a span {
    font-family: 'Clicker Script' cursive;
    font-size: 40px;
}

.aside .nav-toggler {
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-100);
    display: none;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    z-index:1;
}

.aside .nav-toggler span {
    height: 2px;
    width: 18px;
    background: rgb(57, 57, 150);
    display: inline-block;
    position: relative;
}

.aside .nav-toggler.open span {
    background: transparent;
}

.aside .nav-toggler span::before {
    content: '';
    height: 2px;
    width: 18px;
    background-color: rgb(57, 57, 150);
    position: absolute;
    top: -6px;
    left: 0;
}

.aside .nav-toggler span::after {
    content: '';
    height: 2px;
    width: 18px;
    background-color: rgb(57, 57, 150);
    position: absolute;
    top: 6px;
    left: 0;
}

.aside .nav-toggler.open span::before {
    transform: rotate(45deg);
    top: 0;
}

.aside .nav-toggler.open span::after {
    transform: rotate(-45deg);
    top: 0;
}





/* Home */

.home {
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}

.home .home-info {
    flex: 0 0 60%;
    max-width: 60%;
}

h3.hello {
    font-size: 28px;
    margin: 15px 0px;
}

h3.hello span {
    font-family: 'Clicker Script', cursive;
    font-size: 30px;
    font-weight: 700;
    color: var(--skin-color);
}

h3.my-profession {
    font-size: 30px;
    margin: 15px 0px;
}

.typing {
    color: var(--skin-color);
}

.home-info p {
    margin-bottom: 30px;
    font-size: 20px;
    color: var(--text-black-700);
    font-size:medium;



}

.home-info .social-media {
    margin-bottom: 30px;
}

.home-info .social-media .icon {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: inline-block;
    /* background-color: red; */
    text-align: center;
    transition: all 0.3s ease;
    cursor: pointer;
}

.home-info .social-media i {
    font-size: 30px;
    line-height: 60px;
    color: var(--skin-color);
    transition: all 0.3s ease;
}

.home-info .social-media .icon:hover {
    background-color: var(--skin-color);
}

.home-info .social-media .icon:hover i {
    font-size: 25px;
    color: white;
}

.home .home-img {
    flex: 0 0 40%;
    max-width: 40%;
    /* background-color: red; */
    text-align: center;
    position: relative;
    display: grid;

}

.home .home-img img {
    margin: auto;
    border-radius: 5px;
    height: 400px;
    
}

/* About */

.about .about-content {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text h3 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--text-black-900);
}

.about .about-content .about-text h3 span {
    color: var(--skin-color);
}

.about .about-content .about-text p {
    font-size: 16px;
    list-style: 25px;
    color: var(--text-black-700);
}

.about .about-content .personal-info {
    flex: 0 0 60%;
    max-width: 60%;
    /* background-color: blue; */
    margin-top: 40px;
}

.about .about-content .personal-info .info-item {
    flex: 0 0 50%;
    max-width: 50%;
    /* background-color: red; */
}

.about .about-content .personal-info .info-item p {
    font-weight: 600;
    padding: 10px 0;
    font-size: 18px;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);
}

.about .about-content .personal-info .info-item p span {
    font-weight: 400;
    color: var(--text-black-700);
    margin-left: 4px;
    display: inline-block;
}

.about .about-content .personal-info .buttons {
    margin-top: 30px;
}

.about .about-content .personal-info .buttons .btn {
    margin-top: 10px;
}

.about .about-content .skills {
    flex: 0 0 40%;
    max-width: 40%;
    /* background-color: rgb(37, 174, 19); */
    margin-top: 40px;
}

.about .about-content .skills .skill-item {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .skills .skill-item h5 {
    line-height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: var(--text-black-900);
    text-transform: capitalize;
}

.about .about-content .skills .skill-item .progress {
    background-color: var(--bg-black-50);
    height: 10%;
    border-radius: 4px;
    width: 100%;
    position: relative;
}

.about .about-content .skills .skill-item {
    margin-bottom: 30px;
}

.about .about-content .skills .skill-item .progress .progress-in {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--skin-color);
    border-radius: 4px;
}

.about .about-content .skills .skill-item .skill-percent {
    position: absolute;
    right: 0;
    color: var(--text-black-900);
    top: -40px;
    font-weight: 400;
    line-height: 40px;
}

.about .about-content .education,
.about .about-content .experience {
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
    /* background-color: red; */
}

.about .about-content h3.title {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;
    color: var(--text-black-900);
}

.about .about-content .timeline-box {
    flex: 0 0 100%;
    max-width: 100%;
    /* background-color: rebeccapurple; */
}

.about .about-content .timeline-box .timeline {
    background-color: var(--bg-black-100);
    padding: 30px 15px;
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    width: 100%;
    position: relative;
}

.about .about-content .timeline .timeline-item {
    position: relative;
    padding-left: 37px;
    padding-bottom: 50px;
}

.about .about-content .timeline .timeline-item:last-child {
    padding-bottom: 0;
}

.about .about-content .timeline .timeline-item::before {
    content: '';
    width: 1px;
    position: absolute;
    height: 100%;
    left: 7px;
    top: 0;
    background-color: var(--skin-color);
}

.about .about-content .timeline .circle-dot {
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--skin-color);
}

.about .about-content .timeline .timeline-date {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
    color: var(--text-black-700);
}

.about .about-content .timeline .timeline-date .fa {
    margin-right: 5px;
}

.about .about-content .timeline .timeline-title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px;
    text-transform: capitalize;
    color: var(--text-black-900);
}

.about .about-content .timeline .timeline-text {
    line-height: 25px;
    font-size: 16px;
    /* text-align: justify; */
    word-break: break-all;
    color: var(--text-black-700);
}

/* Services */

.service .container {
    padding-bottom: 40px;
}

.service .service-item {
    margin-bottom: 10px;
    flex: 0 0 33.33%;
    max-width: 33.33%;
}

.service .service-item .service-item-inner {
    background-color: var(--bg-black-100);
    border: 1px solid car(--bg-black-50);
    border-radius: 10px;
    padding: 30px 15px;
    text-align: center;
    transition: all 0.35 ease;
}

.service .service-item .service-item-inner:hover {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.service .service-item .service-item-inner .icon {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: block;
    /* background-color: red; */
    margin: 0 auto 30px;
    text-align: center;
    transition: all 0.3s ease
}

.service .service-item .service-item-inner .icon .fa {
    font-size: 40px;
    line-height: 60px;
    color: var(--skin-color);
    transition: all 0.3s ease;
}

.service .service-item .service-item-inner:hover .icon {
    background-color: var(--skin-color);
}

.service .service-item .service-item-inner:hover .icon .fa {
    font-size: 25px;
    color: white;
}

.service .service-item .service-item-inner h4 {
    font-size: 18px;
    margin-bottom: 15px;
    color: var(--text-black-900);
    font-weight: 700;
    text-transform: capitalize;
}

.service .service-item .service-item-inner p {
    font-size: 16px;
    color: var(--text-black-700);
    line-height: 25px;
}


/* Project List */

.project-list {
    flex: 0 0 100%;
    max-width: 100%;
}

.courselist-wrapper-container-2 {
    height: 100%;
    background-color: var(--bg-black-900);
    padding: 10px;
    margin: 0 auto;
    border-radius: 10px;
    border: 6px solid var(--bg-black-100);
}


.item-page {
    position: relative;
    color: #555;
    padding: 7px;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: left;
    color: var(--text-black-900);
    font-weight: 700;
    font-size: 20px;
    /* margin-bottom: 2px; */
}

.courseLista {
    text-decoration: none;
    color: var(--text-black-700);
    font-weight: 700;
}

.courseLista i {
    font-size: 22px;
    padding: 10px;
}

.courseLista i:hover {
    color: var(--skin-color);
}

td {
    display: table-cell;
    vertical-align: inherit;
    border: 1px solid rgba(196, 196, 196, 0.384);
    padding-left: 10px;
    font-size: 17px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    background: transparent;
    border: 0;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    outline: 0;
    vertical-align: baseline;
}

/* contact */
.contact-title {
    color: var(--skin-color);
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

.contact-sub-title {
    color: var(--text-black-900);
    text-align: center;
    font-size: 15px;
    margin-bottom: 60px;
}

.contact .contact-info-item {
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    margin-bottom: 60px;
}

.contact .contact-info-item .icon {
    display: inline-block;
}

.contact .contact-info-item .icon .fa {
    font-size: 25px;
    color: var(--skin-color);
}

.contact .contact-info-item h4 {
    font-size: 18px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: capitalize;
    margin: 15px 0 5px;
}

.contact .contact-info-item p {
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
    font-weight: 400;
}

.contact .contact-form {
    flex: 0 0 100%;
    max-width: 100%;
}

.contact .contact-form .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.contact .contact-form .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.contact .contact-form .form-item {
    margin-bottom: 30px;
}

.contact .contact-form .form-item .form-control {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background-color: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    padding: 10px 25px;
    font-size: 16px;
    color: var(--text-black-700);
    transition: all 0.3s ease;
}

.contact .contact-form .form-item .form-control:focus {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.contact .contact-form .form-item textarea.form-control {
    height: 140px;
}

.contact .contact-form .btn {
    height: 50px;
    padding: 0 50px;
    cursor: pointer;
}


button.dataset-light{
    background-color: #0074CC    ;
    color: #DFCCFB;
    border-radius: 20px;
    padding:5px;
    
}

button.dataset-dark{
    background-color: #DFCCFB;
    color:#0074CC ;
    border-radius: 20px;
    padding:5px;
}
button.dataset-light:hover {
    background-color: #3399FF;
}

button.dataset-dark:hover {
    background-color: #aeb0f5;
}
.fa-download {
    font-size: 10px;
}

@media (max-width:1200px) {
    .section .container {
        padding-top: 70px;
    }

    .aside {
        left: -250px;
        /* transition: all 0.3s ease; */
    }

    .aside.open {
        left: 0;
    }

    .aside .nav-toggler {
        display: flex;
        position: fixed;
        left: 10px;
        top: 20px;
        z-index: 1;
    }

    .aside .nav-toggler.open {
        left: 260px;
    }

    .section {
        left: 0;
    }

    .about .about-content .personal-info .info-item p span {
        display: block;
        margin-left: 0;
    }
}

@media (max-width:991px) {

    .contact .contact-info-item,
    .portfolio .portfolio-item,
    .service .service-item {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .home .home-info {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .home .home-img {
        display: none;
    }
}

@media (max-width:780px) {

    .portfolio .portfolio-item,
    .service .service-item,
    .about .about-content .education,
    .about .about-content .experience,
    .about .about-content .skills,
    .about .about-content .personal-info {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width:400px) {

    .contact .contact-form .col-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    th,
    td {
        font-size: 16px;
    }

}

.list ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list li {
    line-height: 1.3;
    text-indent: -30px;
    padding: 4px 0 8px 30px;
}

.list li:before {
    float: left;
    display: block;
    content: '\2605';
    color: blue;
    margin: 0 30px 0 0;
}

b {
    font-size: 20px;
}


.grid-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 20%;
    max-width: 55%;
    padding: 5px 8px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    /* object-fit: contain; */
    transition-duration: 1s;
}
.column img:hover{
    transform: scale(1.3);
}

@media (max-width: 1200px) {
    .column {
        flex: 40%;
        flex-wrap: wrap;
        max-width: 50%;
    }
}

@media (max-width: 600px) {
    .column {
        flex: 50%;
        max-width: 100%;
    }
}

.day-night {
    position: fixed;
    right: 70px;
    top: 20px;
    padding-top: 5px;
    margin: auto;
    height: 35px;
    text-align: center;
    width: 35px;
    border: 1px solid var(--bg-black-50);
    background: var(--bg-black-100);
    color: var(--text-black-900);
    z-index: 101;
    border-radius: 5px;
    transition: all 0.3s ease;
    transform: translateX(100%);
}

.dropdown {
    position: relative;
    display: inline-block;
  }

.dropdown-header{
    background-color: #04aa6d;
    color: white;
    font-size: 20px;
    cursor: pointer;
    width:150px;
    height:40px;
    display: flex; 
    align-items: center;
    justify-content: center; 
    padding-left: 20px;
}

.dropdown-content{
    width:150px;
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content .options{
    background-color: #333333;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 20px;
    cursor: pointer;
    width:150px;
    height:40px;
    display: flex;          
    align-items: center;
    padding-left: 20px;
}

.dropdown-content .options p{
    color: #ffffff;
    text-decoration: none;    
}

.dropdown-content .options:hover {
    background-color: #000000;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Student Page section */

.student-heading{
    font-family: fangsong;
    font-size:25px;
    padding:10px 20px 0px 20px;
    margin-left: 5px;
    font-weight: 500;
}
.course-name{
    background-color: #04aa6d;
    color: white;
    font-size: 20px;
    /* width:150px; */
    height:40px;
    display: flex; 
    align-items: center;
    justify-content: center;
    margin: 10px 20px 5px 20px;
    padding-left: 20px;
    font-weight: 600;
}

.name-list{
    /* border:1px solid green; */
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    row-gap:4px;
    column-gap:5px;
    padding: 4px;
    margin: 10px 20px;
}

.name-initials{
   height:30px;
   width:30px;
   border-radius: 50%;
   background-color: brown;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 15px;

}

.student-name{
    height:40px;
    width:250px;
    /* border:1px solid black; */
    padding: 4px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #e8db87; */
    font-weight: bold;
    border-radius: 20px;
    font-style: italic;
}

.student-name:hover{
    transform: scale(1.2);
    transition-duration: 0.4s;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    /* background-color: lightgreen; */
    /* border:1px solid black; */
    font-size: 20px;
}

.scrollable-content::-webkit-scrollbar {
    width: 5px;
  }
  
  .scrollable-content::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
  }
  
  .scrollable-content::-webkit-scrollbar-thumb:hover {
    background-color: rgb(85, 85, 85);
  }


